/*
Syntax error: File to import not found or unreadable: ../common/variables-despegar.
              Load paths:
                c:/Users/adatri/hackaton/hackathoncarmen2013/carmen/selfservice-advance-web/src/main/scss
                c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets
                c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets
                c:/Ruby193/lib/ruby/gems/1.9.1/gems/picasso-0.6.2/stylesheets
                c:/Ruby193/lib/ruby/gems/1.9.1/gems/ceaser-easing-0.7/stylesheets
                Compass::SpriteImporter
        on line 19 of c:/Users/adatri/hackaton/hackathoncarmen2013/carmen/selfservice-advance-web/src/main/scss/despegar/_common/mi-despegar-picasso.scss

Backtrace:
c:/Users/adatri/hackaton/hackathoncarmen2013/carmen/selfservice-advance-web/src/main/scss/despegar/_common/mi-despegar-picasso.scss:19
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:139:in `block in compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/logger.rb:45:in `red'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:138:in `compile'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:118:in `compile_if_required'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:103:in `block (2 levels) in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:101:in `block in run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:126:in `timed'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/compiler.rb:100:in `run'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/commands/update_project.rb:45:in `perform'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/commands/base.rb:18:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/commands/project_base.rb:19:in `execute'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/lib/compass/exec/sub_command_ui.rb:15:in `run!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/bin/compass:29:in `block in <top (required)>'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/bin/compass:43:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/bin/compass:43:in `<top (required)>'
c:/Ruby193/bin/compass:23:in `load'
c:/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ../common/variables-despegar.\A               Load paths:\A                 c:/Users/adatri/hackaton/hackathoncarmen2013/carmen/selfservice-advance-web/src/main/scss\A                 c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/blueprint/stylesheets\A                 c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets\A                 c:/Ruby193/lib/ruby/gems/1.9.1/gems/picasso-0.6.2/stylesheets\A                 c:/Ruby193/lib/ruby/gems/1.9.1/gems/ceaser-easing-0.7/stylesheets\A                 Compass::SpriteImporter\A         on line 19 of c:/Users/adatri/hackaton/hackathoncarmen2013/carmen/selfservice-advance-web/src/main/scss/despegar/_common/mi-despegar-picasso.scss"; }
