@charset "UTF-8";

@import "picasso/despegar/variables";
@import "picasso/utils/clearfix";





@import "../../../../shared/utils/responsive/screen-size.scss";
@import "../../../../shared/utils/mixins/typo.scss";
@import "../../../../shared/utils/mixins/yellow-gradient.scss";


.ux-change-cluster-tooltip{
	@include yellow-gradient;
	padding: 10px;
	width: 160px;
	@include clearfix;
	color:$despegar-gray-1;
	.ux-change-cluster-tooltip-title{
		@include fontStyle($despegar-size-20);
		margin-bottom: 0.5em;
		text-align: center;
	}
	.ux-change-cluster-tooltip-detail{
		@include fontStyle($despegar-size-11);
		@include clearfix;
		border-bottom: 1px solid $despegar-warning-border;
		padding-bottom: 10px;
		li{
			@include clearfix;
			display: block;
			line-height: 1.2em;
		}
	}
	
	.ux-change-cluster-tooltip-concept{
		float: left;
	}

	 .ux-change-cluster-tooltip-price{
		float: right;
		text-transform: uppercase;
	}
	.ux-change-cluster-tooltip-total{
		p{
			@include clearfix;
		}
		border-top: 1px solid $despegar-white;
		padding: 10px 0; 
		line-height: 16px;
		.ux-change-cluster-tooltip-concept{
			@include fontStyle($despegar-size-13);
		}
		em{
			@include fontStyle($despegar-size-20);
		}
	}
	.ux-change-cluster-tooltip-price-lead{
		@include fontStyle($despegar-size-10);
		float: right;
		line-height: normal;
	}
	
}