/**
* Mi Despegar
*
* Estilos para patrones comunes, implementando Picasso
*
*/
.midespegar-popup {
  padding: 10px;
  position: absolute;
}
.midespegar-popup:after, .ie7 .midespegar-popup .after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.midespegar-popup .popup-header h4 {
  line-height: 20px;
  padding: 10px;
}
.midespegar-popup .popup-container {
  z-index: 1;
  position: relative;
}
.midespegar-popup .popup-arrow {
  position: absolute;
  height: 0;
  width: 0;
}
.midespegar-popup .popup-arrow-bottom {
  bottom: -10px;
  left: 10px;
}
.midespegar-popup .popup-arrow-top {
  top: -10px;
  left: 10px;
}
.midespegar-popup .popup-arrow-left {
  left: -10px;
  top: 10px;
}
.midespegar-popup .popup-arrow-right {
  right: -10px;
  top: 10px;
}
.midespegar-popup .popup-close {
  position: absolute;
  z-index: 10;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 20px;
  top: -13px;
  right: -13px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ie7 .midespegar-popup {
  zoom: expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("i") ).className="after" );
}
.midespegar-popup:after {
  background: black;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
.midespegar-popup .popup-header {
  background: none repeat scroll 0 0 #f7f7f7;
  display: block;
}
.midespegar-popup .popup-header h4 {
  margin: 0;
  color: #003770;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.midespegar-popup .popup-content {
  background: white;
  border: 1px solid transparent;
}
.midespegar-popup .popup-arrow-bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.7);
}
.midespegar-popup .popup-arrow-top {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}
.midespegar-popup .popup-arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.7);
}
.midespegar-popup .popup-arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.7);
}
.midespegar-popup .popup-close {
  cursor: pointer;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 20px;
  background: #319fda;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
.ie7 .midespegar-popup .after {
  background-color: black;
  filter: alpha(opacity=70);
}
.ie8 .midespegar-popup:after {
  background: magick-canvas(2px, 2px, magick-fill(black) magick-effect(fade, 0.3));
}
.ie7 .midespegar-popup .popup-arrow, .ie8 .midespegar-popup .popup-arrow {
  filter: alpha(opacity=70);
}
.ie7 .midespegar-popup .popup-arrow-bottom, .ie8 .midespegar-popup .popup-arrow-bottom {
  border-top: 10px solid black;
}
.ie7 .midespegar-popup .popup-arrow-top, .ie8 .midespegar-popup .popup-arrow-top {
  border-bottom: 10px solid black;
}
.ie7 .midespegar-popup .popup-arrow-left, .ie8 .midespegar-popup .popup-arrow-left {
  border-right: 10px solid black;
}
.ie7 .midespegar-popup .popup-arrow-right, .ie8 .midespegar-popup .popup-arrow-right {
  border-left: 10px solid black;
}
.midespegar-popup .popup-content, .midespegar-popup .popUpContent {
  color: black;
  font-size: 11px;
}

.modal-picasso {
  background: black;
  filter: Alpha(opacity=60);
  opacity: 0.6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

input[type="text"], input[type="password"], select, textarea {
  width: auto;
  height: auto;
  padding: 0.38em;
  border: 1px solid #cccccc;
  border-top: 1px solid #999999;
  color: #333333;
  font-size: 11px;
  font-size: 0.6875rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  outline: 0;
  border: 1px solid #319fda;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset, #01a9db 0 0 2px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset, #01a9db 0 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset, #01a9db 0 0 2px 0;
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #AAA;
  font-style: italic;
}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #AAA;
  font-style: italic;
}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #AAA;
  font-style: italic;
}

.mod-btn {
  overflow: hidden;
  display: inline-block;
  line-height: 2.2em;
  color: white;
  border: 1px solid #c00811;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 1px 0 black;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
.mod-btn:active {
  position: relative;
  top: 1px;
}
.mod-btn.disabled:active {
  position: static;
}
.mod-btn span {
  display: block;
  padding: 0 13px;
}
.mod-btn:visited {
  color: white;
}
.mod-btn:hover {
  text-decoration: none;
  color: white;
}
.mod-btn span, .mod-btn span:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f73741), color-stop(100%, #8f060d));
  background-image: -webkit-linear-gradient(#f73741, #8f060d);
  background-image: -moz-linear-gradient(#f73741, #8f060d);
  background-image: -o-linear-gradient(#f73741, #8f060d);
  background-image: -ms-linear-gradient(#f73741, #8f060d);
  background-image: linear-gradient(#f73741, #8f060d);
}
.mod-btn span {
  background-color: #f73741;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
}
.mod-btn span:hover {
  background-color: #ff2f3a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #c00811));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #c00811);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #c00811);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #c00811);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #c00811);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #c00811);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #ff2f3a;
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #ff2f3a;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #ff2f3a;
}
.mod-btn span:active {
  text-shadow: 0 -1px 0 black;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.mod-btn.disabled {
  border: 1px solid #755354;
  cursor: not-allowed;
  color: white;
}
.mod-btn.disabled span, .mod-btn.disabled span:hover, .mod-btn.disabled span:active {
  text-shadow: 0 -1px 0 black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #979797), color-stop(100%, #4b4b4b));
  background-image: -webkit-linear-gradient(#979797, #4b4b4b);
  background-image: -moz-linear-gradient(#979797, #4b4b4b);
  background-image: -o-linear-gradient(#979797, #4b4b4b);
  background-image: -ms-linear-gradient(#979797, #4b4b4b);
  background-image: linear-gradient(#979797, #4b4b4b);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.ie7 .mod-btn span, .ie8 .mod-btn span, .ie9 .mod-btn span {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00F73741', endColorstr='#FF8F060D');
}
.ie7 .mod-btn span:hover, .ie8 .mod-btn span:hover, .ie9 .mod-btn span:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFC00811');
}
.ie7 .mod-btn span:active, .ie8 .mod-btn span:active, .ie9 .mod-btn span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00F73741', endColorstr='#FF8F060D');
}
.ie7 .mod-btn.disabled span, .ie7 .mod-btn.disabled span:hover, .ie7 .mod-btn.disabled span:active, .ie8 .mod-btn.disabled span, .ie8 .mod-btn.disabled span:hover, .ie8 .mod-btn.disabled span:active, .ie9 .mod-btn.disabled span, .ie9 .mod-btn.disabled span:hover, .ie9 .mod-btn.disabled span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF979797', endColorstr='#FF4B4B4B');
}

.mod-btn-blue {
  overflow: hidden;
  display: inline-block;
  line-height: 2.2em;
  color: white;
  border: 1px solid #02142f;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 1px 0 black;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
.mod-btn-blue:active {
  position: relative;
  top: 1px;
}
.mod-btn-blue.disabled:active {
  position: static;
}
.mod-btn-blue span {
  display: block;
  padding: 0 13px;
}
.mod-btn-blue:visited {
  color: white;
}
.mod-btn-blue:hover {
  text-decoration: none;
  color: white;
}
.mod-btn-blue span, .mod-btn-blue span:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #063e91), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#063e91, #000000);
  background-image: -moz-linear-gradient(#063e91, #000000);
  background-image: -o-linear-gradient(#063e91, #000000);
  background-image: -ms-linear-gradient(#063e91, #000000);
  background-image: linear-gradient(#063e91, #000000);
}
.mod-btn-blue span {
  background-color: #063e91;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
}
.mod-btn-blue span:hover {
  background-color: #003d97;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #02142f));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #02142f);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #02142f);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #02142f);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #02142f);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #02142f);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d97;
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d97;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d97;
}
.mod-btn-blue span:active {
  text-shadow: 0 -1px 0 black;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.mod-btn-blue.disabled {
  border: 1px solid #755354;
  cursor: not-allowed;
  color: white;
}
.mod-btn-blue.disabled span, .mod-btn-blue.disabled span:hover, .mod-btn-blue.disabled span:active {
  text-shadow: 0 -1px 0 black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #979797), color-stop(100%, #4b4b4b));
  background-image: -webkit-linear-gradient(#979797, #4b4b4b);
  background-image: -moz-linear-gradient(#979797, #4b4b4b);
  background-image: -o-linear-gradient(#979797, #4b4b4b);
  background-image: -ms-linear-gradient(#979797, #4b4b4b);
  background-image: linear-gradient(#979797, #4b4b4b);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.ie7 .mod-btn-blue span, .ie8 .mod-btn-blue span, .ie9 .mod-btn-blue span {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00063E91', endColorstr='#FF000000');
}
.ie7 .mod-btn-blue span:hover, .ie8 .mod-btn-blue span:hover, .ie9 .mod-btn-blue span:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FF02142F');
}
.ie7 .mod-btn-blue span:active, .ie8 .mod-btn-blue span:active, .ie9 .mod-btn-blue span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00063E91', endColorstr='#FF000000');
}
.ie7 .mod-btn-blue.disabled span, .ie7 .mod-btn-blue.disabled span:hover, .ie7 .mod-btn-blue.disabled span:active, .ie8 .mod-btn-blue.disabled span, .ie8 .mod-btn-blue.disabled span:hover, .ie8 .mod-btn-blue.disabled span:active, .ie9 .mod-btn-blue.disabled span, .ie9 .mod-btn-blue.disabled span:hover, .ie9 .mod-btn-blue.disabled span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF979797', endColorstr='#FF4B4B4B');
}

.mod-btn-alt {
  overflow: hidden;
  display: inline-block;
  line-height: 2.2em;
  color: white;
  border: 1px solid #00132e;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 1px 0 black;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}
.mod-btn-alt:active {
  position: relative;
  top: 1px;
}
.mod-btn-alt.disabled:active {
  position: static;
}
.mod-btn-alt span {
  display: block;
  padding: 0 13px;
}
.mod-btn-alt:visited {
  color: white;
}
.mod-btn-alt:hover {
  text-decoration: none;
  color: white;
}
.mod-btn-alt span, .mod-btn-alt span:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #013d93), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#013d93, #000000);
  background-image: -moz-linear-gradient(#013d93, #000000);
  background-image: -o-linear-gradient(#013d93, #000000);
  background-image: -ms-linear-gradient(#013d93, #000000);
  background-image: linear-gradient(#013d93, #000000);
}
.mod-btn-alt span {
  background-color: #013d93;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
}
.mod-btn-alt span:hover {
  background-color: #003d94;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #00132e));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #00132e);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #00132e);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #00132e);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #00132e);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #00132e);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d94;
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d94;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em #003d94;
}
.mod-btn-alt span:active {
  text-shadow: 0 -1px 0 black;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.mod-btn-alt.disabled {
  border: 1px solid #755354;
  cursor: not-allowed;
  color: white;
}
.mod-btn-alt.disabled span, .mod-btn-alt.disabled span:hover, .mod-btn-alt.disabled span:active {
  text-shadow: 0 -1px 0 black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #979797), color-stop(100%, #4b4b4b));
  background-image: -webkit-linear-gradient(#979797, #4b4b4b);
  background-image: -moz-linear-gradient(#979797, #4b4b4b);
  background-image: -o-linear-gradient(#979797, #4b4b4b);
  background-image: -ms-linear-gradient(#979797, #4b4b4b);
  background-image: linear-gradient(#979797, #4b4b4b);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.ie7 .mod-btn-alt span, .ie8 .mod-btn-alt span, .ie9 .mod-btn-alt span {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00013D93', endColorstr='#FF000000');
}
.ie7 .mod-btn-alt span:hover, .ie8 .mod-btn-alt span:hover, .ie9 .mod-btn-alt span:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FF00132E');
}
.ie7 .mod-btn-alt span:active, .ie8 .mod-btn-alt span:active, .ie9 .mod-btn-alt span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00013D93', endColorstr='#FF000000');
}
.ie7 .mod-btn-alt.disabled span, .ie7 .mod-btn-alt.disabled span:hover, .ie7 .mod-btn-alt.disabled span:active, .ie8 .mod-btn-alt.disabled span, .ie8 .mod-btn-alt.disabled span:hover, .ie8 .mod-btn-alt.disabled span:active, .ie9 .mod-btn-alt.disabled span, .ie9 .mod-btn-alt.disabled span:hover, .ie9 .mod-btn-alt.disabled span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF979797', endColorstr='#FF4B4B4B');
}

.mod-btn-small {
  overflow: hidden;
  display: inline-block;
  line-height: 1.75em;
  color: #013d93;
  border: 1px solid #cccccc;
  font-family: sans-serif;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 1px 0 #b5b5b5;
  -webkit-border-radius: 1.1em;
  -moz-border-radius: 1.1em;
  -ms-border-radius: 1.1em;
  -o-border-radius: 1.1em;
  border-radius: 1.1em;
}
.mod-btn-small:active {
  position: relative;
  top: 1px;
}
.mod-btn-small.disabled:active {
  position: static;
}
.mod-btn-small span {
  display: block;
  padding: 0 11px;
}
.mod-btn-small:visited {
  color: #013d93;
}
.mod-btn-small:hover {
  text-decoration: none;
  color: #013d93;
}
.mod-btn-small span, .mod-btn-small span:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b3b3b3));
  background-image: -webkit-linear-gradient(#ffffff, #b3b3b3);
  background-image: -moz-linear-gradient(#ffffff, #b3b3b3);
  background-image: -o-linear-gradient(#ffffff, #b3b3b3);
  background-image: -ms-linear-gradient(#ffffff, #b3b3b3);
  background-image: linear-gradient(#ffffff, #b3b3b3);
}
.mod-btn-small span {
  background-color: white;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5);
}
.mod-btn-small span:hover {
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #cccccc);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #cccccc);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #cccccc);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #cccccc);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #cccccc);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em white;
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em white;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.5), inset 0 0 1em white;
}
.mod-btn-small span:active {
  text-shadow: 0 -1px 0 #b5b5b5;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1), inset 0 0.1em 0.2em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(0, 0, 0, 0.1), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.mod-btn-small.disabled {
  border: 1px solid #755354;
  cursor: not-allowed;
  color: white;
}
.mod-btn-small.disabled span, .mod-btn-small.disabled span:hover, .mod-btn-small.disabled span:active {
  text-shadow: 0 -1px 0 black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #979797), color-stop(100%, #4b4b4b));
  background-image: -webkit-linear-gradient(#979797, #4b4b4b);
  background-image: -moz-linear-gradient(#979797, #4b4b4b);
  background-image: -o-linear-gradient(#979797, #4b4b4b);
  background-image: -ms-linear-gradient(#979797, #4b4b4b);
  background-image: linear-gradient(#979797, #4b4b4b);
  -webkit-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5), inset 0 0.1em 0 rgba(255, 255, 255, 0.25), inset 0 0 1em rgba(0, 0, 0, 0.75);
}
.ie7 .mod-btn-small span, .ie8 .mod-btn-small span, .ie9 .mod-btn-small span {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFB3B3B3');
}
.ie7 .mod-btn-small span:hover, .ie8 .mod-btn-small span:hover, .ie9 .mod-btn-small span:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFCCCCCC');
}
.ie7 .mod-btn-small span:active, .ie8 .mod-btn-small span:active, .ie9 .mod-btn-small span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00FFFFFF', endColorstr='#FFB3B3B3');
}
.ie7 .mod-btn-small.disabled span, .ie7 .mod-btn-small.disabled span:hover, .ie7 .mod-btn-small.disabled span:active, .ie8 .mod-btn-small.disabled span, .ie8 .mod-btn-small.disabled span:hover, .ie8 .mod-btn-small.disabled span:active, .ie9 .mod-btn-small.disabled span, .ie9 .mod-btn-small.disabled span:hover, .ie9 .mod-btn-small.disabled span:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF979797', endColorstr='#FF4B4B4B');
}

/* .mod-btn-mini { */
/* 	@include button-mini($despegar-red, $despegar-white); */
/* } */
.font-size-1 {
  font-size: 11px;
}

.font-size-2 {
  font-size: 13px;
}

.font-size-3 {
  font-size: 16px;
}

.font-size-4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.font-size-5 {
  font-size: 24px;
  letter-spacing: -1px;
}

.container {
  width: 90%;
  max-width: 1200px;
  min-width: 950px;
}

.row-col {
  width: 100%;
}
.row-col:before, .row-col:after {
  content: "";
  display: table;
}
.row-col:after {
  clear: both;
}
.ie7 .row-col {
  zoom: 1;
}
.row-col [class^="col"] {
  width: 100%;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row-col [class^="col"]:first-child {
  margin-left: 0;
}
.row-col [class*="pull"], .row-col [class*="push"] {
  position: relative;
}
.row-col .col1 {
  width: 6.34058%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col1 {
  width: 6.24858%;
}
.row-col .offset1,
.row-col .offset1:first-child {
  margin-left: 6.34058%;
}
.row-col .push1,
.row-col .push1:first-child {
  left: 8.51449%;
}
.row-col .pull1,
.row-col .pull1:first-child {
  left: -8.51449%;
}
.row-col .col2 {
  width: 14.85507%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col2 {
  width: 14.76307%;
}
.row-col .offset2,
.row-col .offset2:first-child {
  margin-left: 14.85507%;
}
.row-col .push2,
.row-col .push2:first-child {
  left: 17.02899%;
}
.row-col .pull2,
.row-col .pull2:first-child {
  left: -17.02899%;
}
.row-col .col3 {
  width: 23.36957%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col3 {
  width: 23.27757%;
}
.row-col .offset3,
.row-col .offset3:first-child {
  margin-left: 23.36957%;
}
.row-col .push3,
.row-col .push3:first-child {
  left: 25.54348%;
}
.row-col .pull3,
.row-col .pull3:first-child {
  left: -25.54348%;
}
.row-col .col4 {
  width: 31.88406%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col4 {
  width: 31.79206%;
}
.row-col .offset4,
.row-col .offset4:first-child {
  margin-left: 31.88406%;
}
.row-col .push4,
.row-col .push4:first-child {
  left: 34.05797%;
}
.row-col .pull4,
.row-col .pull4:first-child {
  left: -34.05797%;
}
.row-col .col5 {
  width: 40.39855%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col5 {
  width: 40.30655%;
}
.row-col .offset5,
.row-col .offset5:first-child {
  margin-left: 40.39855%;
}
.row-col .push5,
.row-col .push5:first-child {
  left: 42.57246%;
}
.row-col .pull5,
.row-col .pull5:first-child {
  left: -42.57246%;
}
.row-col .col6 {
  width: 48.91304%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col6 {
  width: 48.82104%;
}
.row-col .offset6,
.row-col .offset6:first-child {
  margin-left: 48.91304%;
}
.row-col .push6,
.row-col .push6:first-child {
  left: 51.08696%;
}
.row-col .pull6,
.row-col .pull6:first-child {
  left: -51.08696%;
}
.row-col .col7 {
  width: 57.42754%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col7 {
  width: 57.33554%;
}
.row-col .offset7,
.row-col .offset7:first-child {
  margin-left: 57.42754%;
}
.row-col .push7,
.row-col .push7:first-child {
  left: 59.60145%;
}
.row-col .pull7,
.row-col .pull7:first-child {
  left: -59.60145%;
}
.row-col .col8 {
  width: 65.94203%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col8 {
  width: 65.85003%;
}
.row-col .offset8,
.row-col .offset8:first-child {
  margin-left: 65.94203%;
}
.row-col .push8,
.row-col .push8:first-child {
  left: 68.11594%;
}
.row-col .pull8,
.row-col .pull8:first-child {
  left: -68.11594%;
}
.row-col .col9 {
  width: 74.45652%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col9 {
  width: 74.36452%;
}
.row-col .offset9,
.row-col .offset9:first-child {
  margin-left: 74.45652%;
}
.row-col .push9,
.row-col .push9:first-child {
  left: 76.63043%;
}
.row-col .pull9,
.row-col .pull9:first-child {
  left: -76.63043%;
}
.row-col .col10 {
  width: 82.97101%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col10 {
  width: 82.87901%;
}
.row-col .offset10,
.row-col .offset10:first-child {
  margin-left: 82.97101%;
}
.row-col .push10,
.row-col .push10:first-child {
  left: 85.14493%;
}
.row-col .pull10,
.row-col .pull10:first-child {
  left: -85.14493%;
}
.row-col .col11 {
  width: 91.48551%;
  margin-left: 2.17391%;
}
.ie7 .row-col .col11 {
  width: 91.39351%;
}
.row-col .offset11,
.row-col .offset11:first-child {
  margin-left: 91.48551%;
}
.row-col .push11,
.row-col .push11:first-child {
  left: 93.65942%;
}
.row-col .pull11,
.row-col .pull11:first-child {
  left: -93.65942%;
}
.row-col .col12 {
  width: 100%;
}
.row-col .offset12,
.row-col .offset12:first-child {
  margin-left: 100%;
}
.row-col .push12,
.row-col .push12:first-child {
  left: 102.17391%;
}
.row-col .pull12,
.row-col .pull12:first-child {
  left: -102.17391%;
}
.row-col .first {
  margin-left: 0;
}
.row-col .col0 {
  display: none;
}
.row-col .push0,
.row-col .push0:first-child,
.row-col .pull0,
.row-col .pull0:first-child {
  left: 0;
}
.row-col .centered,
.row-col .centered:first-child {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
@media (max-width: 480px) {
  .row-col [class^="col-small"] {
    width: 100%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-col [class^="col-small"]:first-child {
    margin-left: 0;
  }
  .row-col [class*="pull"], .row-col [class*="push"] {
    position: relative;
  }
  .row-col .col1-small {
    width: 6.34058%;
    margin-left: 2.17391%;
  }
  .row-col .offset1-small,
  .row-col .offset1-small:first-child {
    margin-left: 6.34058%;
  }
  .row-col .push1-small,
  .row-col .push1-small:first-child {
    left: 8.51449%;
  }
  .row-col .pull1-small,
  .row-col .pull1-small:first-child {
    left: -8.51449%;
  }
  .row-col .col2-small {
    width: 14.85507%;
    margin-left: 2.17391%;
  }
  .row-col .offset2-small,
  .row-col .offset2-small:first-child {
    margin-left: 14.85507%;
  }
  .row-col .push2-small,
  .row-col .push2-small:first-child {
    left: 17.02899%;
  }
  .row-col .pull2-small,
  .row-col .pull2-small:first-child {
    left: -17.02899%;
  }
  .row-col .col3-small {
    width: 23.36957%;
    margin-left: 2.17391%;
  }
  .row-col .offset3-small,
  .row-col .offset3-small:first-child {
    margin-left: 23.36957%;
  }
  .row-col .push3-small,
  .row-col .push3-small:first-child {
    left: 25.54348%;
  }
  .row-col .pull3-small,
  .row-col .pull3-small:first-child {
    left: -25.54348%;
  }
  .row-col .col4-small {
    width: 31.88406%;
    margin-left: 2.17391%;
  }
  .row-col .offset4-small,
  .row-col .offset4-small:first-child {
    margin-left: 31.88406%;
  }
  .row-col .push4-small,
  .row-col .push4-small:first-child {
    left: 34.05797%;
  }
  .row-col .pull4-small,
  .row-col .pull4-small:first-child {
    left: -34.05797%;
  }
  .row-col .col5-small {
    width: 40.39855%;
    margin-left: 2.17391%;
  }
  .row-col .offset5-small,
  .row-col .offset5-small:first-child {
    margin-left: 40.39855%;
  }
  .row-col .push5-small,
  .row-col .push5-small:first-child {
    left: 42.57246%;
  }
  .row-col .pull5-small,
  .row-col .pull5-small:first-child {
    left: -42.57246%;
  }
  .row-col .col6-small {
    width: 48.91304%;
    margin-left: 2.17391%;
  }
  .row-col .offset6-small,
  .row-col .offset6-small:first-child {
    margin-left: 48.91304%;
  }
  .row-col .push6-small,
  .row-col .push6-small:first-child {
    left: 51.08696%;
  }
  .row-col .pull6-small,
  .row-col .pull6-small:first-child {
    left: -51.08696%;
  }
  .row-col .col7-small {
    width: 57.42754%;
    margin-left: 2.17391%;
  }
  .row-col .offset7-small,
  .row-col .offset7-small:first-child {
    margin-left: 57.42754%;
  }
  .row-col .push7-small,
  .row-col .push7-small:first-child {
    left: 59.60145%;
  }
  .row-col .pull7-small,
  .row-col .pull7-small:first-child {
    left: -59.60145%;
  }
  .row-col .col8-small {
    width: 65.94203%;
    margin-left: 2.17391%;
  }
  .row-col .offset8-small,
  .row-col .offset8-small:first-child {
    margin-left: 65.94203%;
  }
  .row-col .push8-small,
  .row-col .push8-small:first-child {
    left: 68.11594%;
  }
  .row-col .pull8-small,
  .row-col .pull8-small:first-child {
    left: -68.11594%;
  }
  .row-col .col9-small {
    width: 74.45652%;
    margin-left: 2.17391%;
  }
  .row-col .offset9-small,
  .row-col .offset9-small:first-child {
    margin-left: 74.45652%;
  }
  .row-col .push9-small,
  .row-col .push9-small:first-child {
    left: 76.63043%;
  }
  .row-col .pull9-small,
  .row-col .pull9-small:first-child {
    left: -76.63043%;
  }
  .row-col .col10-small {
    width: 82.97101%;
    margin-left: 2.17391%;
  }
  .row-col .offset10-small,
  .row-col .offset10-small:first-child {
    margin-left: 82.97101%;
  }
  .row-col .push10-small,
  .row-col .push10-small:first-child {
    left: 85.14493%;
  }
  .row-col .pull10-small,
  .row-col .pull10-small:first-child {
    left: -85.14493%;
  }
  .row-col .col11-small {
    width: 91.48551%;
    margin-left: 2.17391%;
  }
  .row-col .offset11-small,
  .row-col .offset11-small:first-child {
    margin-left: 91.48551%;
  }
  .row-col .push11-small,
  .row-col .push11-small:first-child {
    left: 93.65942%;
  }
  .row-col .pull11-small,
  .row-col .pull11-small:first-child {
    left: -93.65942%;
  }
  .row-col .col12-small {
    width: 100%;
  }
  .row-col .offset12-small,
  .row-col .offset12-small:first-child {
    margin-left: 100%;
  }
  .row-col .push12-small,
  .row-col .push12-small:first-child {
    left: 102.17391%;
  }
  .row-col .pull12-small,
  .row-col .pull12-small:first-child {
    left: -102.17391%;
  }
  .row-col .first-small {
    margin-left: 0;
  }
  .row-col .col0-small {
    display: none;
  }
  .row-col .push0-small,
  .row-col .push0-small:first-child,
  .row-col .pull0-small,
  .row-col .pull0-small:first-child {
    left: 0;
  }
  .row-col .centered-small,
  .row-col .centered-small:first-child {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .row-col [class^="col-medium"] {
    width: 100%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-col [class^="col-medium"]:first-child {
    margin-left: 0;
  }
  .row-col [class*="pull"], .row-col [class*="push"] {
    position: relative;
  }
  .row-col .col1-medium {
    width: 6.34058%;
    margin-left: 2.17391%;
  }
  .row-col .offset1-medium,
  .row-col .offset1-medium:first-child {
    margin-left: 6.34058%;
  }
  .row-col .push1-medium,
  .row-col .push1-medium:first-child {
    left: 8.51449%;
  }
  .row-col .pull1-medium,
  .row-col .pull1-medium:first-child {
    left: -8.51449%;
  }
  .row-col .col2-medium {
    width: 14.85507%;
    margin-left: 2.17391%;
  }
  .row-col .offset2-medium,
  .row-col .offset2-medium:first-child {
    margin-left: 14.85507%;
  }
  .row-col .push2-medium,
  .row-col .push2-medium:first-child {
    left: 17.02899%;
  }
  .row-col .pull2-medium,
  .row-col .pull2-medium:first-child {
    left: -17.02899%;
  }
  .row-col .col3-medium {
    width: 23.36957%;
    margin-left: 2.17391%;
  }
  .row-col .offset3-medium,
  .row-col .offset3-medium:first-child {
    margin-left: 23.36957%;
  }
  .row-col .push3-medium,
  .row-col .push3-medium:first-child {
    left: 25.54348%;
  }
  .row-col .pull3-medium,
  .row-col .pull3-medium:first-child {
    left: -25.54348%;
  }
  .row-col .col4-medium {
    width: 31.88406%;
    margin-left: 2.17391%;
  }
  .row-col .offset4-medium,
  .row-col .offset4-medium:first-child {
    margin-left: 31.88406%;
  }
  .row-col .push4-medium,
  .row-col .push4-medium:first-child {
    left: 34.05797%;
  }
  .row-col .pull4-medium,
  .row-col .pull4-medium:first-child {
    left: -34.05797%;
  }
  .row-col .col5-medium {
    width: 40.39855%;
    margin-left: 2.17391%;
  }
  .row-col .offset5-medium,
  .row-col .offset5-medium:first-child {
    margin-left: 40.39855%;
  }
  .row-col .push5-medium,
  .row-col .push5-medium:first-child {
    left: 42.57246%;
  }
  .row-col .pull5-medium,
  .row-col .pull5-medium:first-child {
    left: -42.57246%;
  }
  .row-col .col6-medium {
    width: 48.91304%;
    margin-left: 2.17391%;
  }
  .row-col .offset6-medium,
  .row-col .offset6-medium:first-child {
    margin-left: 48.91304%;
  }
  .row-col .push6-medium,
  .row-col .push6-medium:first-child {
    left: 51.08696%;
  }
  .row-col .pull6-medium,
  .row-col .pull6-medium:first-child {
    left: -51.08696%;
  }
  .row-col .col7-medium {
    width: 57.42754%;
    margin-left: 2.17391%;
  }
  .row-col .offset7-medium,
  .row-col .offset7-medium:first-child {
    margin-left: 57.42754%;
  }
  .row-col .push7-medium,
  .row-col .push7-medium:first-child {
    left: 59.60145%;
  }
  .row-col .pull7-medium,
  .row-col .pull7-medium:first-child {
    left: -59.60145%;
  }
  .row-col .col8-medium {
    width: 65.94203%;
    margin-left: 2.17391%;
  }
  .row-col .offset8-medium,
  .row-col .offset8-medium:first-child {
    margin-left: 65.94203%;
  }
  .row-col .push8-medium,
  .row-col .push8-medium:first-child {
    left: 68.11594%;
  }
  .row-col .pull8-medium,
  .row-col .pull8-medium:first-child {
    left: -68.11594%;
  }
  .row-col .col9-medium {
    width: 74.45652%;
    margin-left: 2.17391%;
  }
  .row-col .offset9-medium,
  .row-col .offset9-medium:first-child {
    margin-left: 74.45652%;
  }
  .row-col .push9-medium,
  .row-col .push9-medium:first-child {
    left: 76.63043%;
  }
  .row-col .pull9-medium,
  .row-col .pull9-medium:first-child {
    left: -76.63043%;
  }
  .row-col .col10-medium {
    width: 82.97101%;
    margin-left: 2.17391%;
  }
  .row-col .offset10-medium,
  .row-col .offset10-medium:first-child {
    margin-left: 82.97101%;
  }
  .row-col .push10-medium,
  .row-col .push10-medium:first-child {
    left: 85.14493%;
  }
  .row-col .pull10-medium,
  .row-col .pull10-medium:first-child {
    left: -85.14493%;
  }
  .row-col .col11-medium {
    width: 91.48551%;
    margin-left: 2.17391%;
  }
  .row-col .offset11-medium,
  .row-col .offset11-medium:first-child {
    margin-left: 91.48551%;
  }
  .row-col .push11-medium,
  .row-col .push11-medium:first-child {
    left: 93.65942%;
  }
  .row-col .pull11-medium,
  .row-col .pull11-medium:first-child {
    left: -93.65942%;
  }
  .row-col .col12-medium {
    width: 100%;
  }
  .row-col .offset12-medium,
  .row-col .offset12-medium:first-child {
    margin-left: 100%;
  }
  .row-col .push12-medium,
  .row-col .push12-medium:first-child {
    left: 102.17391%;
  }
  .row-col .pull12-medium,
  .row-col .pull12-medium:first-child {
    left: -102.17391%;
  }
  .row-col .first-medium {
    margin-left: 0;
  }
  .row-col .col0-medium {
    display: none;
  }
  .row-col .push0-medium,
  .row-col .push0-medium:first-child,
  .row-col .pull0-medium,
  .row-col .pull0-medium:first-child {
    left: 0;
  }
  .row-col .centered-medium,
  .row-col .centered-medium:first-child {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
@media (min-width: 801px) and (max-width: 1024px) {
  .row-col [class^="col-large"] {
    width: 100%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-col [class^="col-large"]:first-child {
    margin-left: 0;
  }
  .row-col [class*="pull"], .row-col [class*="push"] {
    position: relative;
  }
  .row-col .col1-large {
    width: 6.34058%;
    margin-left: 2.17391%;
  }
  .row-col .offset1-large,
  .row-col .offset1-large:first-child {
    margin-left: 6.34058%;
  }
  .row-col .push1-large,
  .row-col .push1-large:first-child {
    left: 8.51449%;
  }
  .row-col .pull1-large,
  .row-col .pull1-large:first-child {
    left: -8.51449%;
  }
  .row-col .col2-large {
    width: 14.85507%;
    margin-left: 2.17391%;
  }
  .row-col .offset2-large,
  .row-col .offset2-large:first-child {
    margin-left: 14.85507%;
  }
  .row-col .push2-large,
  .row-col .push2-large:first-child {
    left: 17.02899%;
  }
  .row-col .pull2-large,
  .row-col .pull2-large:first-child {
    left: -17.02899%;
  }
  .row-col .col3-large {
    width: 23.36957%;
    margin-left: 2.17391%;
  }
  .row-col .offset3-large,
  .row-col .offset3-large:first-child {
    margin-left: 23.36957%;
  }
  .row-col .push3-large,
  .row-col .push3-large:first-child {
    left: 25.54348%;
  }
  .row-col .pull3-large,
  .row-col .pull3-large:first-child {
    left: -25.54348%;
  }
  .row-col .col4-large {
    width: 31.88406%;
    margin-left: 2.17391%;
  }
  .row-col .offset4-large,
  .row-col .offset4-large:first-child {
    margin-left: 31.88406%;
  }
  .row-col .push4-large,
  .row-col .push4-large:first-child {
    left: 34.05797%;
  }
  .row-col .pull4-large,
  .row-col .pull4-large:first-child {
    left: -34.05797%;
  }
  .row-col .col5-large {
    width: 40.39855%;
    margin-left: 2.17391%;
  }
  .row-col .offset5-large,
  .row-col .offset5-large:first-child {
    margin-left: 40.39855%;
  }
  .row-col .push5-large,
  .row-col .push5-large:first-child {
    left: 42.57246%;
  }
  .row-col .pull5-large,
  .row-col .pull5-large:first-child {
    left: -42.57246%;
  }
  .row-col .col6-large {
    width: 48.91304%;
    margin-left: 2.17391%;
  }
  .row-col .offset6-large,
  .row-col .offset6-large:first-child {
    margin-left: 48.91304%;
  }
  .row-col .push6-large,
  .row-col .push6-large:first-child {
    left: 51.08696%;
  }
  .row-col .pull6-large,
  .row-col .pull6-large:first-child {
    left: -51.08696%;
  }
  .row-col .col7-large {
    width: 57.42754%;
    margin-left: 2.17391%;
  }
  .row-col .offset7-large,
  .row-col .offset7-large:first-child {
    margin-left: 57.42754%;
  }
  .row-col .push7-large,
  .row-col .push7-large:first-child {
    left: 59.60145%;
  }
  .row-col .pull7-large,
  .row-col .pull7-large:first-child {
    left: -59.60145%;
  }
  .row-col .col8-large {
    width: 65.94203%;
    margin-left: 2.17391%;
  }
  .row-col .offset8-large,
  .row-col .offset8-large:first-child {
    margin-left: 65.94203%;
  }
  .row-col .push8-large,
  .row-col .push8-large:first-child {
    left: 68.11594%;
  }
  .row-col .pull8-large,
  .row-col .pull8-large:first-child {
    left: -68.11594%;
  }
  .row-col .col9-large {
    width: 74.45652%;
    margin-left: 2.17391%;
  }
  .row-col .offset9-large,
  .row-col .offset9-large:first-child {
    margin-left: 74.45652%;
  }
  .row-col .push9-large,
  .row-col .push9-large:first-child {
    left: 76.63043%;
  }
  .row-col .pull9-large,
  .row-col .pull9-large:first-child {
    left: -76.63043%;
  }
  .row-col .col10-large {
    width: 82.97101%;
    margin-left: 2.17391%;
  }
  .row-col .offset10-large,
  .row-col .offset10-large:first-child {
    margin-left: 82.97101%;
  }
  .row-col .push10-large,
  .row-col .push10-large:first-child {
    left: 85.14493%;
  }
  .row-col .pull10-large,
  .row-col .pull10-large:first-child {
    left: -85.14493%;
  }
  .row-col .col11-large {
    width: 91.48551%;
    margin-left: 2.17391%;
  }
  .row-col .offset11-large,
  .row-col .offset11-large:first-child {
    margin-left: 91.48551%;
  }
  .row-col .push11-large,
  .row-col .push11-large:first-child {
    left: 93.65942%;
  }
  .row-col .pull11-large,
  .row-col .pull11-large:first-child {
    left: -93.65942%;
  }
  .row-col .col12-large {
    width: 100%;
  }
  .row-col .offset12-large,
  .row-col .offset12-large:first-child {
    margin-left: 100%;
  }
  .row-col .push12-large,
  .row-col .push12-large:first-child {
    left: 102.17391%;
  }
  .row-col .pull12-large,
  .row-col .pull12-large:first-child {
    left: -102.17391%;
  }
  .row-col .first-large {
    margin-left: 0;
  }
  .row-col .col0-large {
    display: none;
  }
  .row-col .push0-large,
  .row-col .push0-large:first-child,
  .row-col .pull0-large,
  .row-col .pull0-large:first-child {
    left: 0;
  }
  .row-col .centered-large,
  .row-col .centered-large:first-child {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.typo-title {
  font-size: 20px;
  color: #013d93;
  letter-spacing: 0;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
}

.typo-title-number {
  color: #b4cbfc;
}

.typo-title-noborder {
  font-size: 20px;
  color: #013d93;
  letter-spacing: 0;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  border-bottom: none;
}

.typo-title-bkg {
  font-size: 20px;
  color: #013d93;
  letter-spacing: 0;
  letter-spacing: -1px;
  margin-bottom: 10px;
  background: #eeeeee;
  padding: 0 10px;
  line-height: 40px;
}

.typo-paragraph {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 13px;
  color: #444444;
  letter-spacing: 0;
}

.typo-back-link {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  letter-spacing: 0;
  letter-spacing: 0;
}
.typo-back-link.dark {
  font-size: 11px;
  color: #222222;
  letter-spacing: 0;
}

.typo-link-bkg {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 0;
  background: #eeeeee;
  padding: 0 8px;
  line-height: 32px;
  text-align: center;
}

.typo-title .title-icon, .typo-title-noborder .title-icon, .typo-title-bkg .title-icon {
  display: inline-block;
  margin-right: 5px;
}

.typo-title-noborder .title-icon {
  vertical-align: text-top;
}

.typo-title .title-icon {
  vertical-align: top;
}

.typo-title-bkg .title-icon {
  vertical-align: baseline;
}
