@charset "UTF-8";
@import "picasso/despegar/variables";
@import "picasso/utils/clearfix";
@import "picasso/components/inputs";
@import "../../utils/mixins/typo";
@import "../../utils/mixins/images";
@import "form-error";
@import "compass/utilities/sprites";
@import "ux/common/modules/forms/*.png";


@mixin ux-common-form($bkg:false){
	@if $bkg == true{background-color: $despegar-gray-8;}
	@include fontStyle($despegar-size-13);
	color: $despegar-gray-1;
	@include clearfix();

	input[type="text"], select, textarea {
		@include input($width:100%, $font-size:$despegar-size-13);
	   	
        margin-top: 2px;
        &.ux-common-form-short{
        	width: 25%;
			display: inline-block;
			margin-right: 5px;
        }
        &.ux-common-form-medium{
        	width: 60%;
        }
   	}
   	textarea {
   		font-family: Arial,Helvetica,sans-serif;
   	}
	input[type="text"]{
        .ie7 &{
            width: auto;
            height: auto;
        }
    }
	label{
		display: block;
		white-space: nowrap;
	}
	.ux-common-form-questionIcon{
		cursor: pointer;
		@include common-images($image: "ux/common/modules/forms/form-question.png", $display:inline-block);		

	}
	.ie7 &, .ie8  &, .ie9 &{
        input[type="text"], select, textarea {
        	line-height: normal;
        }
    }
	.ie7 &{
		select{
			height: auto;
			span{
				@include fontStyle($despegar-size-20);
		
			}
		}
		.ux-common-form-questionIcon{
			@include forms-sprite("form-question");
			vertical-align: text-bottom;
			margin-bottom: 8px;
		}
		
	}

}