@charset "UTF-8";
@import "picasso/despegar/variables";
@import "picasso/utils/clearfix";
@import "../../../shared/utils/mixins/images";
@import "../../../shared/utils/mixins/typo";


@import "compass/utilities/sprites";
@import "ux/common/modules/warning/*.png";

//Cartel de msg de informacion
.ux-common-warning {
	border: 1px solid $despegar-warning-border;
	background-color: $despegar-warning-bg;
	padding: 2%;
	@include clearfix;
	display: block;
	width: 96%;

	.ux-common-warning-icon-cont{
		display: table;
	    float: left;
	    height: 36px;

		.ux-common-warning-icon{
			@include common-images("ux/common/modules/warning/common-warning.png");
			display: table-cell;
			vertical-align: middle;
			background-position: center center;
			.ie7 &{
				@include warning-sprite("common-warning");
			}
		}
	}
	
	.ux-common-warning-content{
		padding: 0 0 0 2%;
		display:block;
		float: left;
		width: 95%;
		
		
		&.ux-common-warning-no-icon{
			display: block;
			width: auto;
		}
	}
	.ux-common-warning-title{
		@include fontStyle($despegar-size-16, $despegar-title-color);
		margin-bottom: 5px;
		
	}
	.ux-common-warning-text{
		@include fontStyle($despegar-size-13, $despegar-gray-2);
	}
	.ux-common-warning-text-blue{
		@include fontStyle($despegar-size-11, $despegar-title-color);
	}
	.ie7 &{
		.ux-common-warning-icon-cont{
			
			float: left;
		}
		.ux-common-warning-content{
			
			float: left;
			width: 90%;
		}
	}	

	&.ux-common-error {

		border: 1px solid $despegar-error-border;
		background-color: $despegar-error-bg;

		.ux-common-warning-content{

			display:block;
			//vertical-align: top;
			width: 95%;			
		}
		.ux-common-warning-title{
			@include fontStyle($despegar-size-16, $despegar-red);			
		}
		.ux-common-warning-text{
			@include fontStyle($despegar-size-13, $despegar-gray-2);
		}
		

	}

}