// Icons content

.ux-common-icon-warning, .ux-common-icon-positive, .ux-common-icon-person, .ux-common-icon-packages, .ux-common-icon-modular-view, .ux-common-icon-marker, .ux-common-icon-last-buy, .ux-common-icon-include, .ux-common-icon-hotels, .ux-common-icon-hot, .ux-common-icon-home, .ux-common-icon-flights, .ux-common-icon-destinies, .ux-common-icon-cruices, .ux-common-icon-combined-products, .ux-common-icon-cluster-view, .ux-common-icon-calendar, .ux-common-icon-breakfast, .ux-common-icon-arrow-right, .ux-common-icon-airplane-return, .ux-common-icon-airplane-going, .ux-common-icon-photo, .ux-common-icon-add, .ux-common-icon-correct, .ux-common-icon-remove, .ux-common-icon-comment, .ux-common-icon-cars, .ux-common-icon-twitter, .ux-common-icon-facebook, .ux-common-icon-google, .ux-common-icon-negative, .ux-common-icon-baby-car, .ux-common-icon-business-man, .ux-common-icon-man, .ux-common-icon-woman {
	font-family: 'ux-common-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.ux-common-icon-warning:before {
	content: "\e000";
}
.ux-common-icon-positive:before {
	content: "\e002";
}
.ux-common-icon-person:before {
	content: "\e003";
}
.ux-common-icon-packages:before {
	content: "\e004";
}
.ux-common-icon-modular-view:before {
	content: "\e005";
}
.ux-common-icon-marker:before {
	content: "\e006";
}
.ux-common-icon-last-buy:before {
	content: "\e007";
}
.ux-common-icon-include:before {
	content: "\e008";
}
.ux-common-icon-hotels:before {
	content: "\e009";
}
.ux-common-icon-hot:before {
	content: "\e00a";
}
.ux-common-icon-home:before {
	content: "\e00b";
}
.ux-common-icon-flights:before {
	content: "\e00c";
}
.ux-common-icon-destinies:before {
	content: "\e00d";
}
.ux-common-icon-cruices:before {
	content: "\e00e";
}
.ux-common-icon-combined-products:before {
	content: "\e011";
}
.ux-common-icon-cluster-view:before {
	content: "\e012";
}
.ux-common-icon-calendar:before {
	content: "\e014";
}
.ux-common-icon-breakfast:before {
	content: "\e015";
}
.ux-common-icon-arrow-right:before {
	content: "\e016";
}
.ux-common-icon-airplane-return:before {
	content: "\e017";
}
.ux-common-icon-airplane-going:before {
	content: "\e018";
}
.ux-common-icon-photo:before {
	content: "\e01a";
}
.ux-common-icon-add:before {
	content: "\e001";
}
.ux-common-icon-correct:before {
	content: "\e00f";
}
.ux-common-icon-remove:before {
	content: "\e019";
}
.ux-common-icon-comment:before {
	content: "\e010";
}
.ux-common-icon-cars:before {
	content: "\e013";
}
.ux-common-icon-twitter:before {
	content: "\e01b";
}
.ux-common-icon-facebook:before {
	content: "\e01c";
}
.ux-common-icon-google:before {
	content: "\e01e";
}
.ux-common-icon-negative:before {
	content: "\e01d";
}
.ux-common-icon-baby-car:before {
	content: "\e01f";
}
.ux-common-icon-business-man:before {
	content: "\e020";
}
.ux-common-icon-man:before {
	content: "\e021";
}
.ux-common-icon-woman:before {
	content: "\e022";
}