// Icons base

@import "compass/css3";

@include font-face("ux-common-font", font-files("/common/modules/common/ux-common-font.eot?#iefix"), "/common/modules/common/ux-common-font.eot");

@font-face {
	font-family: 'ux-common-font';
	src: inline-font-files("/common/modules/common/ux-common-font.woff", woff), inline-font-files("/common/modules/common/ux-common-font.ttf", truetype);
	font-weight: normal;
	font-style: normal;
}