$mi-despegar-sprite-sprite-layout: smart;
@import "mi-despegar-sprite/*.png";
$mi-despegar-sprite-sprite-dimensions: true;
@include all-mi-despegar-sprite-sprites;

.mi-despegar-sprite-sprite{
	display: block;
}


body{
	background-image: url("../../../img/mi-despegar-sprite/bg.png");
}

@font-face{
	font-family: minecraftia;
	src: url('../../fonts/carmen/Minecraftia.ttf'),
	     url('../../fonts/carmen/Minecraftia.eot'); /* IE9 */
}

.left{
	float: left;
}

.game-container{
	width: 1024px;
	height: 600px;
	background-color: #000;
	margin-left: auto ;
  	margin-right: auto ;
  	border: 10px solid rgba(255,255,255, 0.2);
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	.hide{
		display: none !important;
	}

  	.top_bar{
  		background-color: #191919;
  		height: 50px;
  		width: 100%;
  		
  		.title {
			margin: 12px 0 0 27px;
			float: left;
			color: #fff;
			font-family: minecraftia;
			font-size: 15px;
		}
  	}

  	.left-panel, .footer-panel{
  		margin: 19px;
  	}

  	.left-panel{
		height: 435px;
		margin-bottom: 0px;

		.actual-location{
			width: 290px;

			.title{
				font-family: minecraftia;
				font-size: 15px;
				color: #0098ff;
				margin-left: 15px;
				line-height: 27px;
			}
		}

		.printer{
			margin: 15px 5px;
		}

		.printer-text{
			float: left;
			margin: 20px 44px 0 54px;
			font-family: minecraftia;
			font-size: 12px;
			height: 220px;
			overflow: auto;
		}

		.carmen-picture{
			margin: 15px 3px;
		}
  	}

  	.footer-panel{
  		height: 55px;
  	}

  	.white-well{
		background-color: #fff;
  	}

  	.bit-text{
  		font-family: minecraftia;
  		font-size:15px;
  	}

  	.form-text{
  		font-family: minecraftia;
  		font-size: 12px;
  		color: #555;
  	}

  	.red{
  		color:#eb301d;
  	}

  	.blue{
  		color:#23589c;
  	}

  	.footer-label{
  		text-align: center;
		line-height: 13px;
  	}

  	.social{
  		float: right;
		width: 125px;
		height: 50px;
		display: inline-block;

		.bit-icon{
	  		float: left;
			margin: 10px 5px 0 5px;
			cursor: pointer;
	  	}
  	}

  	.score{
  		display: inline-block;
		width: 840px;
		color: #fff;
		font-family: minecraftia;
		font-size: 15px;

		li {
			list-style: none;
		}

		.date{
			float: left;
			width: 230px;
		}

		.city{
			float: left;
			width: 490px;
			text-align: center;
		}

		.money-container{
			float: right;
		}
  	}
  	
  	.clue-container{
  		margin-top: 40px;
  	}
  	
  	.clue-return{
  		margin-top: 45px;
  	}
  	
  	.clue-avatar{
  		margin-left: -39px !important;
		margin-top: -70px !important;
  	}
  	
  	.ask-avatar{
	  	margin-top: -65px !important;
		float: right !important;
		margin-bottom: -31px !important;
  	}

  	.form-player {
		height: 350px;
		margin: 25px 0 0 65px !important;
		border: 10px solid rgba(0, 0, 0, 0.8) !important;
		
		.avatar-container{
			padding-left: 40px;
			text-align: center;
			margin-top: 10px;
		}
		
		.avatar{
			float: left;
			cursor: pointer;
			border-radius: 100%;
			-webkit-border-radius: 100%;
		    -moz-border-radius: 100%;
			border: 7px solid white;
			margin: 0 0 5px 28px;
		}

		.avatar-unselect{
			border: 7px solid white;
		}

		.avatar:hover, .avatar-selected{
			border: 7px solid #93C3E4;
		}
		
		.control-label{
			margin: 15px 0;
			float: left;
		}
		
		input {
			margin: 11px 0;
			float: left;
		}
		
		.play{
			margin-top: 23px;
		}
	}
	
	.blue{
		color: #0098ff;
	}

  	.map{

  		height: 350px;
		margin-top: 15px;

		.jvectormap-zoomin, .jvectormap-zoomout {
		    position: absolute;
		    left: 10px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    border-radius: 3px;
		    background: #0098ff;
		    padding: 3px;
		    color: white;
		    width: 10px;
		    height: 10px;
		    cursor: pointer;
		    line-height: 10px;
		    text-align: center;
		}

		.jvectormap-zoomin {
		    top: 10px;
		}

		.jvectormap-zoomout {
		    top: 30px;
		}
  	}

  	.action-menu{
  		margin-left: 40px !important;
  		font-size: 12px;
  	}

  	.hidden{
		display : none !important;
	}

	.block-popup-container{
		background-color: rgba(255,255,255,0) !important;
		border: none !important;
	}
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0098ff;
    color: white;
    font-family: minecraftia;
    font-size: smaller;
    padding: 4px;
}

.hotel-map{
	min-height: 335px;
}

#hotelMap{
	margin: 0 0 0 18px !important;
	min-width: 568px;

	h4{
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
	}
	
	.img-hotel{
		float: left;
		margin: 17px 10px 0 0;
		width: 100px;
		height: 100px;
	}
	
	.hotel-title{
		margin-bottom: -10px;
	}
	
	.hotel-stars{
		float: right;
		margin: -10px 10px 0 0;
	}
	
	.despegar-link {
		margin-top: 1px;
		display: inline-table;
		cursor: pointer;
	}
	
	.hotel-price {
		margin-right: 5px;
		font-size: 14px;
		font-family: minecraftia;
		padding: 5px;
	}
	
	.sleep{
		margin: -2px 10px 0 0;
		float: none;
	}
	
}

.gmap{
	height: 390px;
	background: #6699cc;
}