@charset "UTF-8";
@import "picasso/despegar/variables";

//common standard classes for the hole project
@import "../../shared/utils/responsive/screen-size.scss";
@import "../../shared/utils/mixins/typo.scss";
@import "../common/selfservice-detailbox.scss";
@import "../common/selfservice-common.scss";

@import "picasso/components/buttons";


.ux-recibe-reference{
	margin: 1em 2%;
	@include fontStyle($despegar-size-16, $despegar-gray-3);
	em{
		@include fontStyle($despegar-size-20, $despegar-gray-2);
	}
}
.ux-recibe-paragraph{
	@include fontStyle($despegar-size-13, $despegar-gray-2);
	margin: 0 2% 2em; 

}


.ux-recibe-btn{
	@include button-3d($despegar-title-color);
	vertical-align: middle;
	margin-left: 2%;
}

//Estilos para diferentes tamaños y dispositivos
.ux-common-responsive{
	.ux-common-main{
		>.ux-common-grid-row{
			>.ux-common-grid-col8, >.ux-common-grid-col4,{
				@include size-small-screen(){
					width: 48.91304%;
				}
				@include size-big-tablet(){
					width: 48.91304%;
				}
				@include size-small-tablet(){
					width: 48.91304%;
				}
				@include size-mobile(){
					width: 48.91304%;
				}

			}
			.ux-common-grid-col2, .ux-common-grid-col3,  .ux-common-grid-col4, .ux-common-grid-col5, .ux-common-grid-col6, .ux-common-grid-col7,  .ux-common-grid-col8, .ux-common-grid-col9 {
				@include size-mobile(){
					@include full-col();
				}
			}
		}
	}
}




	


