@charset "UTF-8";

@import "picasso/despegar/variables";
@import "picasso/utils/clearfix";

@import "compass/css3/border-radius";


@import "../../../shared/utils/responsive/screen-size.scss";
@import "../../../shared/utils/mixins/typo.scss";
@import "../../../shared/utils/mixins/images.scss";
@import "../../../shared/utils/mixins/hover-block.scss";

@import "partials/change-cluster-flight.scss";
@import "partials/change-cluster-pricebox.scss";
@import "partials/change-cluster-tooltip.scss";


.ux-change-cluster{
	@include clearfix;
	border: 1px solid $despegar-gray-6;
	border-top-width: 5px;
	margin-bottom: 1em;
	@include border-radius(5px);
	@include hoverBlock;

	.ux-change-cluster-info{
		padding: 1em 0 0 2%;
		@include fontStyle($despegar-size-11, $despegar-gray-3);
	}
	@include size-mobile{
		>.ux-common-grid-row{
			>.ux-common-grid-col8, >.ux-common-grid-col4{
				@include full-col;
			}
		}
	}
	

}