<div id="{{type}}-message" class="popup-text-message">
	<span class="fieldText">
		{{#if icon}}
			<span class="message-icon mi-despegar-sprite-step-{{{icon}}}"></span>
		{{/if}}	
		{{{text}}}
		<div class="dtalkContainer"></div>
	</span>
</div>